<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <title>Testing Database Insert</title>
</head>

<body>
    <form action="/signup_options" method="POST">
        <label>Are you:</label><br>
        <input type="radio" name="options" id="agent" value="agent">NEW AGENT/LANDLORD<br>
        <input type="radio" name="options" id="buyer" value="buyer">NEW BUYER/RENTER<br><br>

        <input type="submit" value="Submit">
    </form><br><br>

    <a href="/">Return to index</a>
</body>

</html>