{% extends "layout.html" %}

{% block content %}
<h2>Frequently Asked Questions (FAQ)</h2>

<!-- SOURCE: https://mdbootstrap.com/docs/standard/extended/faq/ -->
<div class="list-group w-100">
    <a href="#shortExampleAnswer1collapse" data-mdb-toggle="collapse" aria-expanded="false"
      aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">I've found a home I like! Now what?</h5>
      </div>
      <p class="mb-1">
        The first step in getting to say hello to your new home is contacting the agent who posted it. Only those logged in with a buyer account can view agent contact details. If you see a home you like, click on it to view its full details, and you'll see the agents contact information in the "Contact Us" section of a property. 
      </p>
      <!-- <small><u>Learn more</u></small> -->
      <!-- Collapsed content -->
      <div class="collapse mt-3" id="shortExampleAnswer1collapse">
        Detailed and comprehensive answer goes here. pariatur cliche reprehenderit, enim eiusmod
        high
        life accusamus terry richardson ad
        squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
        sapiente ea proident.
      </div>
    </a>
    <a href="#shortExampleAnswer2collapse" data-mdb-toggle="collapse" aria-expanded="false"
      aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">How do I post a property?</h5>
      </div>
      <p class="mb-1">
        Only agents can post properties. Once logged in with your agent account, you can click your profile icon in the top right corner and select "Post a Property". From there, just fill out all of the property details and click Post! 
      </p>
      <!-- <small class="text-muted"><u>Learn more</u></small> -->
      <!-- Collapsed content -->
      <div class="collapse mt-3" id="shortExampleAnswer2collapse">
        Detailed and comprehensive answer goes here. pariatur cliche reprehenderit, enim eiusmod
        high
        life accusamus terry richardson ad
        squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
        sapiente ea proident.
      </div>
    </a>
    <a href="#shortExampleAnswer3collapse" data-mdb-toggle="collapse" aria-expanded="false"
      aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">How do I edit my account information?</h5>
      </div>
      <p class="mb-1">
        Once you're logged in, you can click your profile icon in the top right corner and click to edit your account. It is important to note that you cannot edit your email to be one that is already linked to an existing account. 
      </p>
      <!-- <small class="text-muted"><u>Learn more</u></small> -->
      <!-- Collapsed content -->
      <div class="collapse mt-3" id="shortExampleAnswer3collapse">
        Detailed and comprehensive answer goes here. pariatur cliche reprehenderit, enim eiusmod
        high
        life accusamus terry richardson ad
        squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
        sapiente ea proident.
      </div>
    </a>
  </div>


{% endblock content %}