<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home</title>
	</head>
	<body>
        
        <h1>Home</h1>

        <div>
            <a href="/account">View Account</a><br>
            <a href="/create">Create Lisitng</a><br>
            <a href="/faq">FAQ</a><br>
            <a href="/listing">Individual Listing</a><br>
            <a href="/login">Sign In</a><br>
            <a href="/viewing">View All</a><br>
            <a href="/signup">Sign Up</a><br>

        </div>



	</body>
</html>