<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing Database Insert</title>
</head>
<body>

<form action="/submit" method="POST">
<label>If you are an BUYER/RENTER:</label><br>
    <label for="buyer_fname">First name:</label>
    <input type="text" id="buyer_fname" name="buyer_fname"><br>
    <label for="buyer_lname">Last name:</label>
    <input type="text" id="buyer_lname" name="buyer_lname"><br>
    <label for="buyer_email">Email address:</label>
    <input type="text" id="buyer_email" name="buyer_email"><br>
    <label for="buyer_pw">Password:</label>
    <input type="text" id="buyer_pw" name="buyer_pw"><br><br>

    <input type="submit" name="buyer_form" value="Submit"><br>

</form>

</body>
</html>