{% extends "base.html" %}
{% block title %}Home{% endblock %}

        {% block content %}
        <h1>Home</h1>

        <div>
            <a href="/account">View Account</a>
            <a href="/accountCreation">Create Account</a>
            <a href="/editAccount">Edit Account</a>
            <a href="/edit">Edit Listing</a>
            <a href="/post">Post Listing</a>
            <a href="/faq">FAQ</a>
            <a href="/signInOut">Sign In and Out</a>
            <a href="/viewing">View All</a>
            

        </div>
        {% endblock %}


