<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home</title>
	</head>
	<body>
        
        <h1>Home</h1>

        <div>
            <a href="/account">View Account</a>
            <a href="/createAccount">Create Account</a>
            <a href="/editAccount">Edit Account</a>
            <a href="/edit">Edit Listing</a>
            <a href="/post">Post Listing</a>
            <a href="/faq">FAQ</a>
            <a href="/signInOut">Sign In and Out</a>
            <a href="/viewing">View All</a>
            

        </div>



	</body>
</html>