{% extends "layout.html" %}

{% block content %}
<form class="container-fluid bg-3 text-center" method="GET">   
	<div class="row">
		<!-- 1. Search bar -->
			<input name="search" type="search" placeholder="Enter a zipcode" style="width: 30%;">
        
        <!-- 2. Price -->
			<label for="cars">Type:</label>
			<select name="saletype" id="cars">
				<option value="none" selected disabled hidden>Sale Type</option>
				<option value="sale">For Sale</option>
				<option value="rent">For Rent</option>
			</select>

		<!-- 3. Price -->
			<label for="price">Price:</label>
			<select name="price" id="price">
				<option value="none" selected disabled hidden>Price</option>
				<option value=10000>$10,000+</option>
				<option value=25000>$25,000+</option>
				<option value=50000>$50,000+</option>
				<option value=75000>$75,000+</option>
				<option value=100000>$100,000+</option>
				<option value=120000>$120,000+</option>
				<option value=150000>$150,000+</option>
				<option value=175000>$175,000+</option>
				<option value=200000>$200,000+</option>
				<option value=3000000>$300,000+</option>
				<option value=400000>$400,000+</option>
			</select>

		<!-- 4. Property Type -->
			<label for="propertytype">Property Type:</label>
			<select name="propertytype" id="propertytype">
				<option value="none" selected disabled hidden>Property Type</option>
				<option value="Single Family">Single Family</option>
				<option value="townhome">Townhouse</option>
				<option value="Multifamily">Multifamily</option>
				<option value="Condo">Condo</option>
				<option value="house">House</option>
				<option value="apartment">Apartment</option>
			</select>


		<!-- 5. Beds -->
			<label for="beds">Beds:</label>
			<select name="beds" id="beds">
				<option value="none" selected disabled hidden>Any</option>
				<option value="1">1+</option>
				<option value="2">2+</option>
				<option value="3">3+</option>
				<option value="4">4+</option>
				<option value="5">5+</option>
			</select>

		<!-- 6. Baths -->
			<label for="baths">Baths:</label>
			<select name="baths" id="baths">
				<option value="none" selected disabled hidden>Any</option>
				<option value="1">1+</option>
				<option value="2">2+</option>
				<option value="3">3+</option>
				<option value="4">4+</option>
				<option value="5">5+</option>
			</select>


			<button type="submit" name="submit-search" class="search_btn" >Search</button>
	</div>
</form>

<!-- <p>{{properties|length}} homes found!</p> -->

<!-- for property in properties, list property -->

{% for property in properties %}

	<!-- Display on Page -->
	<div class="container-fluid bg-3 text-center"> 
		<div class="row" style="border:1px black solid">
			<!-- Picture on left -->
			<div class="col-sm-3"> 
				<!-- MODIFY ID TO MATCH IMAGE'S DATA-TARGET FIELD ** -->
				<a data-toggle="modal" data-target="#staticBackdrop">
					<img src="{{url_for('static', filename='house1.jpg')}}" width="100%">
				</a>
			</div>
			<!-- Details on right -->
			<div class="col-sm"> 
				<p id="sale_type">{{data.sale_type}}</p>
				<p id="home_type">{{data.property_type}}</p>
				<p id="home_price">{{data.price}}</p>
				<p id="home_threes">{{data.num_bed}} bed &#183; {{data.num_bath}} bath &#183; {{data.building_size}} sqft</p>
				<p id="home_address">{{data.atreet}}, {{data.city}} {{data.state}} {{data.zip}}</p>
				<p id="home_realtycompany">{{data.company}}</p>
			</div>
		</div>
	</div>

{% endfor %}


{% endblock content %}