<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Testing Database Insert</title>
</head>

<body>
    <form action="/signup" method="POST">
    <label>If you are an AGENT/LANDLORD:</label><br>
        <label for="agent_fname">First name:</label>
        <input type="text" id="agent_fname" name="agent_fname"><br>
        <label for="agent_lname">Last name:</label>
        <input type="text" id="agent_lname" name="agent_lname"><br>
        <label for="company">Company:</label>
        <input type="text" id="company" name="company"><br>
        <label for="agent_phone">Phone number:</label>
        <input type="text" id="agent_phone" name="agent_phone"><br>
        <label for="agent_email">Email address:</label>
        <input type="text" id="agent_email" name="agent_email"><br>
        <label for="agent_pw">Password:</label>
        <input type="text" id="agent_pw" name="agent_pw"><br><br>

        <input type="submit" name="agent_form" value="Submit">
    </form><br><br>

    <a href="/signup_options">Return to account creation</a>
</body>

</html>