<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Testing Database Login</title>
</head>

<body>
    <form action="/login" method="POST">
    <label>LOGIN:</label><br>
        <label for="username">Email:</label>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password"><br>

        <input type="submit" name="login_form" value="Submit"><br>

        <a href="/">Return to index</a>
    </form>
</body>

</html>